body {
    font-family: Arial, sans-serif;
    background-color: #fefae0;
    margin: 0;
    padding: 20px;
    font-family: "Lato";
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #02c39a;
}

#score-board {
    text-align: left;
    font-size: 20px;
    color: #f8f8f8;
    font-weight: bold;
    display: none;
}

#polish-sentence {
    font-size: 24px;
    margin: 20px 0;
}

#user-input {
    border-radius: 4px;
    text-decoration: none;
    border: none;
}

#tense-info {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 10px;
}

button {
    transition: transform 0.2s ease;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: rgb(105, 129, 181);
    font-weight: bold;
}

button:hover {
    background-color: #e3dfdf;
    transform: scale(1.02);
}

#result {
    margin-top: 10px;
    font-size: 18px;
    color: rgb(201, 221, 89);
    font-weight: bold;
}

#check-btn {
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #05715a;
    margin: 2px;
    background-color: #02c39a;
}

#check-btn:hover {

}

#next-btn {
    color: #05715a;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: #02c39a;

}

#next-btn:hover {
}

nav {
    background-color: #fefae0;
    color: rgb(20, 19, 19);
    padding: 1em;
    border-radius: 6px;
    text-align: center;
}

.menu h1 {
    margin: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: rgb(20, 19, 19);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

@media (max-width: 600px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }
    .container {
        margin: 20px;
    }
}

#type-info {
    display: none; /* Ukrywa opis domyślnie */
    background-color: #eaeff2;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#tense-info {
    display: none;
}

#building-rule {

    border-radius: 5px;
}

#toggle-description-btn {
    background-color: #02c39a;
    font-weight: bold;
    color: #05715a;
}





