body {
  font-family: "Lato";
  background-color: #fefae0;
  margin: 0;
  padding: 20px;
  font-family: "Lato";
}



section {
  padding: 20px;
}

@media (max-width: 600px) {
  .menu li {
      display: block;
      margin: 10px 0;
  }


}

.score {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.container {
  margin-top: 5%;
  display: flex;
  text-align: center;
  justify-content: center; /* Wyśrodkowanie w poziomie */
}

.quiz-box {
  background-color: #02c39a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
.menu li {
    display: block;
    margin: 10px 0;

}

.container {
  margin-top: 150px;
}
}

h1 {
  margin: 0 0 20px 0;
}

.word-display {
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0;
}

#translationDisplay {
  font-size: 24px;
}

.user-input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#hideButton {
  text-align: left;
  background: none;
  border: none;
  font-size: 20px;
  color: #05715a;
}
#hideButton:hover {
  cursor: pointer;
}
#wordSelectContainer {
  display: none;
}

.options-container {
  margin: 20px 0;
}

.option-btn {
  padding: 10px;
  margin: 5px;
  background-color: #e4f378;
  color: rgb(13, 13, 13);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.option-btn:hover {
  background-color: #dc9966;
}

.btn {
  padding: 10px 15px;
  color: rgb(4, 4, 4);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  color: #05715a;
  border: none;
  background-color: #02c39a;
  /* -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; */
}

.word-select-btn {
  border: none;
  font-weight: bold;
  color: #060606;;
  background-color: #fff;
  margin-top: 20px;
  margin: auto;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 5px; /* Dodanie zaokrąglenia rogów */
}
.word-select-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e0ab48;
  color: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
}


.word-select-btn:hover:before, .word-select-btn:focus:before, .word-select-btn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}

.word-select-btn:hover {
  color: #f9f9f9;
  
}

.btn:hover {
  transform: scale(1.10);
}


.result {
      margin-top: 20px;
      font-weight: bold;
      color: #fdfcfc;
      font-size: 30px;
      padding-bottom: 15px;
}



#burger {
  display: none;
}
main {
  height: 100vh;

  margin-top: 20vh;
}
#burger + label {
  position: fixed;
  top: 30px;
  right: 60px;
  height: 20px;
  width: 40px;
  z-index: 5;
}
span {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: rgb(161, 172, 46);
  transition: 0.5s;
}
span:first-child {
  top: -1px;
}
span:last-child {
  top: 20px;
}

label:hover {
  cursor: pointer;
}

#burger:checked + label span {
  opacity: 0;
  top: 50%;
}
#burger:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
#burger:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

#burger ~ nav {
  background: #fefae0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;

}
#burger ~ nav {
  text-align: center;
  position: absolute;
  right: 20%;
}
#burger ~ nav li {
  list-style-type: none;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
#burger ~ nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #035e4a;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 50px;
  font-family: "Lato";
  display: block;
  padding: 10px;
  transition: 0.2s;
}

#burger ~ nav a:hover { 
  color: #fefefe;

}
#burger:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
  background-color: #02c39a;
}
#burger:checked ~ nav li {
  opacity: 1;
  transition-delay: 0.5s;
}

#toggleTranslationBtn {
  color: #05715a;
  border: none;
  background-color: #02c39a;
  font-weight: bold;

}

#toggleTranslationBtn:hover {
  transform: scale(1.10);
  cursor: pointer;
}

#switchLanguageBtn {
  color: #05715a;
  font-size: 25px;
  border: none;
  background-color: #02c39a;
  font-weight: bold;
  /* -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s; */
}

#switchLanguageBtn:hover {
  transform: scale(1.10);
  cursor: pointer;
}

#nextBtn {
  color: #05715a;;
  background-color: #fff;
  margin-top: 20px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-radius: 5px; 
}

#nextBtn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #05715a;
  color: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 5px;
}


#nextBtn:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}

#nextBtn:hover {
  color: #f9f9f9;
  
}

.word-select {
  color: #fff;
}

@media (max-width: 600px) {
 
      #burger ~ nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #035e4a;
        font-weight: 700;
        font-family: sans-serif;
        font-size: 25px;
        font-family: "Lato";
        display: block;
        padding: 10px;
        margin: auto;
        transition: 0.2s;
      }
  }

  .btn-red {
    background-color: rgb(235, 43, 43) !important; /* Zmieniony kolor tła */
    color: rgb(114, 30, 30) !important; /* Kolor tekstu na biały */
} 

.shake {
    animation: shake 0.5s ease;
    background-color: rgb(235, 43, 43); /* Zmieniony kolor tła */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.btn-yellow {
  background-color: rgb(39, 192, 62) !important; /* Kolor tła na żółty */
  color: #1b8733 !important;  /* Kolor tekstu na czarny */
}

.shake {
  animation: shake 0.5s ease;
}

.bounce {
  animation: bounce 0.5s ease;
  background-color: rgb(39, 192, 62);
}

button {
  background-color: #fff;
}

@keyframes bounce {
  0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.nextBtnRed {
  background-color: #981616 !important;
  color: #fff !important;
  transition: 0s !important;
}

#submitBtn {
  background-color: #fcfdfc;
}

.submitBtnRed {
  background-color: #981616 !important;
  color: #fff !important;
  transition: 0s !important;
}

.nextBtnGreen {
  background-color: rgb(27, 144, 44) !important;
  color: #0e491b !important;
  transition: 0s !important;
}

.submitBtnGreen {
  background-color: rgb(27, 144, 44) !important;
  color: #0e491b !important;
  transition: 0s !important;
}

.BtnGreen {
  background-color: rgb(39, 192, 62) !important;
  color: #1b8733 !important;
  transition: 0s !important;
}

#toggleSpeakBtn {
  border: none;
  background: transparent;
  font-size: 21px;
  color: #05715a;
  margin-left: 5px;
}

#toggleSpeakBtn:hover {
  
  transform: scale(1.10);
  cursor: pointer;
}




