body {
    font-family: "Lato";
    background-color: #fefae0;
    margin: 0;
    padding: 20px;
    font-family: "Lato";
}



section {
    padding: 20px;
}

@media (max-width: 600px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.container {
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center; /* Wyśrodkowanie w poziomie */
}

.quiz-box {
    background-color: #02c39a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0 0 20px 0;
}

.word-display {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.user-input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options-container {
    margin: 20px 0;
}

.option-btn {
    padding: 10px;
    margin: 5px;
    background-color: #e4f378;
    color: rgb(13, 13, 13);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.option-btn:hover {
    background-color: #dc9966;
}

.btn {
    padding: 10px 15px;
    color: rgb(4, 4, 4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    color: #05715a;
    border: none;
    background-color: #02c39a;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.btn:hover {
    transform: scale(1.10);
}


.result {
        margin-top: 20px;
        font-weight: bold;
        color: #fdfcfc;
        font-size: 30px;
        padding-bottom: 15px;
}




nav {
    background-color: #fefae0;
    color: rgb(7, 7, 7);
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

.menu h1 {
    margin: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

@media (max-width: 600px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }
}

#toggleTranslationBtn {
    color: #05715a;
    border: none;
    background-color: #02c39a;
    font-weight: bold;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#toggleTranslationBtn:hover {
    transform: scale(1.10);
    cursor: pointer;
}

#switchLanguageBtn {
    color: #e0ab48;
    font-size: 25px;
    border: none;
    background-color: #02c39a;
    font-weight: bold;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#switchLanguageBtn:hover {
    transform: scale(1.10);
    cursor: pointer;
}

#nextBtn {
    color: #05715a;;
    background-color: #fff;
    margin-top: 20px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 5px; /* Dodanie zaokrąglenia rogów */
}

#nextBtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #05715a;
    color: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 5px;
}


#nextBtn:hover:before, #nextBtn:focus:before, #nextBtn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}

#nextBtn:hover {
    color: #f9f9f9;
    
}




