body {
    font-family: Arial, sans-serif;
    background-color: #fefae0;
    margin: 0;
    padding: 20px;
    font-family: "Lato";
}



section {
    padding: 20px;
}

@media (max-width: 600px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.container {
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: center; /* Wyśrodkowanie w poziomie */
}

.quiz-box {
    background-color: #02c39a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0 0 20px 0;
}

.word-display {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.user-input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options-container {
    margin: 20px 0;
}

.option-btn {
    padding: 10px;
    margin: 5px;
    background-color: #fafafa;
    color: rgb(13, 13, 13);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.option-btn:hover {
    background-color: #31b0d5;
}

.btn {
    padding: 10px 15px;
    background-color: #ffffff;
    color: rgb(4, 4, 4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #4cae4c;
}

.result {
    margin-top: 10px;
    font-size: 18px;
    color: #d9534f;
    font-weight: bold;
}



nav {
    background-color: #fefae0;
    color: rgb(7, 7, 7);
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

.menu h1 {
    margin: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

@media (max-width: 600px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }
}

#toggleTranslationBtn {
    color: #05715a;
    border: none;
    background-color: #02c39a;
    font-weight: bold;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#toggleTranslationBtn:hover {
    transform: scale(1.10);
    cursor: pointer;
}




