body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #02c39a;
    color: #05715a;
}

nav {
    margin-top: 20%;
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    padding: 20px;
}

.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.horizontal-menu li {
    margin: 0 15px; /* Odstęp między kafelkami */
}

.horizontal-menu a {
    text-decoration: none;
    color: #05715a;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 15px; /* Padding wewnętrzny */

}

.horizontal-menu a:hover {
    color: #fefefe;
    
}

/* Media Queries dla responsywności */
@media (max-width: 600px) {
    .horizontal-menu {
        flex-direction: column; /* Zmiana na kolumnę w mniejszych ekranach */
        align-items: center; /* Wyśrodkowanie elementów */
    }
    
    .horizontal-menu li {
        margin: 10px 0; /* Odstęp w pionie */
    }
}
